{% extends 'base/master.html' %}

{% block title %} Home | My Website {% endblock %}

{% block content %}
<div class="row mt-3 p-0 m-0">
    <!-- FILES SECTION START-->
    <div class="col-md-7">
        <nav class="navbar navbar-light rounded-top border border-bottom-0">
            <div class="container-fluid">
                <ul class="nav nav-tabs w-50">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Network Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab2">My Files</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </nav>

        <div class="tab-content mt-2 p-4 ">
            <div class="tab-pane fade show active" id="tab1">
                <h3>Network files</h3>
                <p>All files available on p2p network.</p>
                <div id="network-content" class="scrollable-content">
                    <ul class="list-group overflow-auto" style="height:50vh;">
                        {% for net_file in net_files %}
                        {% include 'base/netfile_list_item.html' with file_name=net_file %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <h3>My files</h3>
                <p>Locally available files. You can share them with others.</p>
                <div id="my-content" class="scrollable-content">
                    <ul class="list-group  overflow-auto" style="height:50vh;">
                        {% for my_file in my_files %}
                        {% include 'base/userfile_list_item.html' with file_name=my_file %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- FILES SECTION END-->

    <!--  PERSONAL SECTION START  -->
    <div class="col-md-5">
        <div class="mb-5">
            <div class="p-4 border rounded">
                <button type="button" class="btn btn-sm btn-primary float-end" value="Refresh" title="Refresh"><i class="bi bi-arrow-clockwise"></i></button>
                <h3>Active Peers</h3>
                <p>This is the list of accessible peers on the network.</p>
                <div id="peers-content" class="scrollable-content">
                    <ul class="list-group  overflow-auto" style="height:20vh;">
                        {% for peer in peers %}
                        {% include 'base/peer_list_item.html' with peer_name=peer %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-light rounded-top border border-bottom-0">
            <div class="container-fluid">
                <ul class="nav nav-tabs w-50">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#share-tab">Sharing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#download-tab">Downloading</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </nav>
        <div class="tab-content mt-1 p-4">
            <div class="tab-pane fade show active" id="share-tab">
                <h3>Share content</h3>
                <p>Content you are currently sharing via p2p network.</p>
                <div id="share-content" class="scrollable-content">
                    <ul class="list-group  overflow-auto" style="height:10vh;">
                        {% for share_item in share_items %}
                        <li class="list-group-item">{{ share_item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="download-tab">
                <h3>Download Content</h3>
                <p>Content you are currently downloading via p2p network.</p>
                <div id="download-content" class="scrollable-content">
                    <ul class="list-group">
                        {% for download_item in download_items %}
                        <li class="list-group-item">{{ download_item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  PERSONAL SECTION END  -->
</div>
{% endblock %}
