<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="#">P2P Net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-3" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button id="disconnectBtn" class="btn btn-sm btn-danger">Disconnect</button>
          <button id="connectBtn" class="btn btn-sm btn-success">Connect</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Get the port number from the current URL
  const portNumber = window.location.port || "80"; // Default to port 80 if no port specified

  // Update the text content of the span elements with the port number
  document.getElementById("portNumber").textContent = portNumber;
</script>
